fastapi
uvicorn
motor
pydantic
python-multipart
pandas
openpyxl
opencv-contrib-python-headless
scipy
imutils
requests
APScheduler
twilio
reportlab
python-jose[cryptography]
passlib[bcrypt]
numpy
Pillow
dlib==19.24.2
face_recognition
